<% include ../partials/header %>
<h2 class="text-center">Pedido <%= pedido._id %></h2>

<div class="container">
	<hr>
<div class="row mt-4">
			<div class="col-12 col-md-6">
				<p class="lead text-center">Dados do cliente</p>
				<div class="col-12"><span class="attr2 col-12">Email: <%= cliente.email %></span></div>
				<div class="col-12"><span class="attr2 col-12">CPF/CNPJ: <%= cliente.cpfcnpj %></span></div>
				<div class="col-12"><span class="attr2 col-12">Nome: <%= cliente.nome %></span></div>
				<div class="col-12"><span class="attr2 col-12">Celular: <%= cliente.celular %></span></div>
				<div class="col-12"><span class="attr2 col-12">Telefone fixo: <%= cliente.telefone %></span></div>
				<div class="col-12"><span class="attr2 col-12">Grupo de cliente: <%= cliente.grupoCliente %></span></div>
			</div>
			<div class="col-12 col-md-6">
				<p class="lead text-center">Produtos do pedido</p>
				<div class="p-2 produtospedido">
					<% for (var i = 0; i < pedido.produtos.length; i++) { %>
						<% if (pedido.produtos[i]._id) { %>
						<div class="row produtospedido produtospedido2 my-2 mx-0">
							<div class="col-6"><%= pedido.produtos[i]._id %></div>
							<div class="col-3">Preço: R$ <%= pedido.produtos[i].precoVenda %></div>
							<div class="col-3">Qtde: <%= pedido.produtos[i].quantidade %></div>
						</div>
						<!-- <p class="p-2 produtospedido"><%= pedido.produtos[i]._id %><span class="float-right">Qtde: <%= pedido.produtos[i].quantidade %></span></p> -->
						<% } %>
					<% } %>
				</div>
			</div>
		</div>
		<div class="my-2 text-center ml-auto mr-auto">
			<a href="/pedido" class="btn btn-success">Voltar</a>
			<a href="/pedido/<%= pedido._id %>/" class="btn btn-info" style="">Gerar entrega</a>
			<form class="d-inline" action="/pedido/<%= pedido._id %>?_method=DELETE" method="post">
				<input class="btn btn-warning" type="submit" name="Deletar pedido" value="Deletar pedido" style="cursor: pointer;">
			</form>
		</div>
</div>


<% include ../partials/footer %>