<% include ../partials/header %>

<h2 class="text-center mt-5 mt-sm-3">Pedido <%= pedido.pedidoId2 %></h2>

<div class="container">
<div class="row mt-4">
	<div class="col-12">
		<ul class="nav nav-pills pedidostab pt-3 pb-3 px-3 justify-content-center" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="visaoGeral-tab" data-toggle="tab" href="#visaoGeral" role="tab" aria-controls="visaoGeral" aria-selected="true">Visão geral</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="dadosCliente-tab" data-toggle="tab" href="#dadosCliente" role="tab" aria-controls="dadosCliente" aria-selected="false">Dados do cliente</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="endereco-tab" data-toggle="tab" href="#endereco" role="tab" aria-controls="endereco" aria-selected="false">Endereço para entrega</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status do pedido</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="produtos-tab" data-toggle="tab" href="#produtos" role="tab" aria-controls="produtos" aria-selected="false">Produtos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="pagamento-tab" data-toggle="tab" href="#pagamento" role="tab" aria-controls="pagamento" aria-selected="false">Pagamento</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="visaoGeral" role="tabpanel" aria-labelledby="visaoGeral-tab">
		  	<div class="container">
		  		<div class="row mt-4">
		  			<div class="col-12">
				  		<div class="dadosCliente">
							<p class="lead text-center">Dados do cliente</p>
							<div class="col-12"><span class="attr2 col-12">Email: <%= cliente.email %></span></div>
							<div class="col-12"><span class="attr2 col-12">CPF/CNPJ: <%= cliente.cpfcnpj %></span></div>
							<div class="col-12"><span class="attr2 col-12">Nome: <%= cliente.nome %></span></div>
							<div class="col-12"><span class="attr2 col-12">Celular: <%= cliente.celular %></span></div>
							<div class="col-12"><span class="attr2 col-12">Telefone fixo: <%= cliente.telefone %></span></div>
							<div class="col-12">
								<span class="attr2 col-12">
								Segmento: 
								<% cliente.segmento.forEach(segmento => { %>
								 <span class="attr"><%= segmento.nome %></span>
								<% }); %>
								<% if (cliente.segmento.length === 0) { %>
									Nenhum
								<% } %>
								</span>
							</div>
							<div class="col-12 my-2 text-center"><a class="btn text-center btn btn-warning" href="/cliente/<%= pedido.cliente._id %>">Ver cadastro do cliente</a></div>
						</div>
						<div class="endereco mt-4">
							<p class="lead text-center">Endereço para entrega</p>
							<div class="col-12"><span class="attr2 col-12">CEP: <%= cliente.cep %></span></div>
							<div class="col-12"><span class="attr2 col-12">Rua: <%= cliente.rua %></span></div>
							<div class="col-12"><span class="attr2 col-12">Número: <%= cliente.numero %></span></div>
							<div class="col-12"><span class="attr2 col-12">Complemento: <%= cliente.complemento %></span></div>
							<div class="col-12"><span class="attr2 col-12">Bairro: <%= cliente.bairro %></span></div>
							<div class="col-12"><span class="attr2 col-12">Cidade: <%= cliente.cidade %></span></div>
							<div class="col-12"><span class="attr2 col-12">Estado: <%= cliente.estado %></span></div>
						</div>

		  			</div>
		  	<div class="col-12">
		  				<div class="produtos">
							<p class="lead text-center">Produtos do pedido</p>
							<div class="p-2 produtospedido text-center text-md-left">
								<% for (var i = 0; i < pedido.produtos.length; i++) { %>
									<% if (pedido.produtos[i]._id) { %>
									<div class="row produtospedido m-2 mx-0">
										<div class="col-md-5 col-12">
											<p class="truncate">
												<a data-toggle="tooltip" data-placement="top" title="Ver produto" style="text-decoration: underline !important;" class="px-1" href="/produto/<%= pedido.produtos[i].idOficial %>"><i class="fa fa-search"></i></a> <%= pedido.produtos[i]._id %>
											</p>
										</div>
										<div class="col-md-4 col-12">
											Preço: R$ <span class="precoVenda"><%= pedido.produtos[i].precoVenda %></span>
										</div>
										<div class="col-md-3 col-12">
											Qtde: <%= pedido.produtos[i].quantidade %>
										</div>
										<!-- <span class="d-none hiddenPrice"><%= pedido.produtos[i].quantidade * pedido.produtos[i].precoVenda %></span> -->
									</div>
									<% } %>
								<% } %>
							</div>
						</div>
		  				<div class="status my-2">
							<p class="lead text-center">Status do pedido</p>
							<div class="produtospedido">
								<div class="row m-2 mx-0">
									<div class="produtospedido m-2 w-100">
										<p class="truncate mx-15">Status atual: <%= pedido.status.nome %></p>	
									</div>
									<div class="produtospedido m-2 w-100">
										<p class="truncate mx-15 d-inline">
											Alterar status:
										</p>
										<form class="d-inline" method="post" action="/pedido/<%= pedido._id %>/edit?_method=put">
											<div class="input-group w-75 m-3 d-inline-flex z-index-0">
												<select id="statusId2" name="pedido[status._id]" class="form-control" value="<%= pedido.status._id %>">
													<option class="d-none" selected disabled>Selecione</option>
													<option value="1">Iniciado</option>
													<option value="2">Aguardando pagamento</option>
													<option value="3">Processando</option>
													<option value="4">Enviado</option>
													<option value="5">Completo</option>
												</select>
												<input id="statusName2" type="hidden" name="pedido[status.nome]">
												<span class="input-group-btn">
											      	<input class="btn btn-success" type="submit" value="Salvar" />
											    </span>
											</div>
										</form>
										<script type="text/javascript">
											document.getElementById('statusId2').addEventListener('change', ()=>{
												document.getElementById('statusName2').value = document.getElementById('statusId2').selectedOptions[0].innerHTML;
											});
										</script>
									</div>
								</div>
							</div>
						
						</div>

				<div class="pagamento my-2">
					<p class="lead text-center">Pagamento</p>
					<div class="produtospedido">
						<div class="row m-2 mx-0">
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15">Forma de pagamento: <%= pedido.pagamento.nome %></p>	
							</div>
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15">Status da transação: <%= pedido.pagamento.status %></p>
							</div>
						</div>
					</div>
				</div>
				<div class="totals my-2">
					<p class="lead float-right">Valor total: <span class="valorTotal">R$ <%= pedido.totalVenda %></span></p>
					
				</div>
			</div>
		  		</div>
		  	</div>
		  </div>
		  <div class="tab-pane fade" id="dadosCliente" role="tabpanel" aria-labelledby="dadosCliente-tab">
		  		<div class="dadosCliente mt-4">
					<p class="lead text-center d-none">Dados do cliente</p>
					<div class="col-12"><span class="attr2 col-12">Email: <%= cliente.email %></span></div>
					<div class="col-12"><span class="attr2 col-12">CPF/CNPJ: <%= cliente.cpfcnpj %></span></div>
					<div class="col-12"><span class="attr2 col-12">Nome: <%= cliente.nome %></span></div>
					<div class="col-12"><span class="attr2 col-12">Celular: <%= cliente.celular %></span></div>
					<div class="col-12"><span class="attr2 col-12">Telefone fixo: <%= cliente.telefone %></span></div>
					<div class="col-12">
						<span class="attr2 col-12">
						Segmento: 
						<% cliente.segmento.forEach(segmento => { %>
						 <span class="attr"><%= segmento.nome %></span>
						<% }); %>
						<% if (cliente.segmento.length === 0) { %>
							Nenhum
						<% } %>
						</span>
					</div>
				</div>
		  </div>
		  <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">

						<div class="endereco mt-4">
							<p class="lead text-center d-none">Endereço para entrega</p>
							<div class="col-12"><span class="attr2 col-12">CEP: <%= cliente.cep %></span></div>
							<div class="col-12"><span class="attr2 col-12">Rua: <%= cliente.rua %></span></div>
							<div class="col-12"><span class="attr2 col-12">Número: <%= cliente.numero %></span></div>
							<div class="col-12"><span class="attr2 col-12">Complemento: <%= cliente.complemento %></span></div>
							<div class="col-12"><span class="attr2 col-12">Bairro: <%= cliente.bairro %></span></div>
							<div class="col-12"><span class="attr2 col-12">Cidade: <%= cliente.cidade %></span></div>
							<div class="col-12"><span class="attr2 col-12">Estado: <%= cliente.estado %></span></div>
						</div>
		  </div>
		  <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
		  		<div class="status my-2 mt-4">
					<p class="lead text-center d-none">Status do pedido</p>
					<div class="produtospedido">
						<div class="row m-2 mx-0">
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15">Status atual: <%= pedido.status.nome %></p>	
							</div>
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15 d-inline">
									Alterar status:
								</p>
								<form class="d-inline" method="post" action="/pedido/<%= pedido._id %>/edit?_method=put">
									<div class="input-group w-75 m-3 d-inline-flex z-index-0">
										<select id="statusId" name="pedido[status._id]" class="form-control" value="<%= pedido.status._id %>">
											<option class="d-none" selected disabled>Selecione</option>
											<option value="1">Iniciado</option>
											<option value="2">Aguardando pagamento</option>
											<option value="3">Processando</option>
											<option value="4">Enviado</option>
											<option value="5">Completo</option>
										</select>
										<input id="statusName" type="hidden" name="pedido[status.nome]">
										<span class="input-group-btn">
									      	<input class="btn btn-success" type="submit" value="Salvar" />
									    </span>
									</div>
								</form>
								<script type="text/javascript">
									document.getElementById('statusId').addEventListener('change', ()=>{
										document.getElementById('statusName').value = document.getElementById('statusId').selectedOptions[0].innerHTML;
									});
								</script>
							</div>
						</div>
					</div>
				</div>
		  </div>
		  <div class="tab-pane fade" id="produtos" role="tabpanel" aria-labelledby="produtos-tab">
		  		<div class="produtos mt-4">
					<p class="lead text-center d-none">Produtos do pedido</p>
					<div class="p-2 produtospedido text-center text-md-left">
						<% for (var i = 0; i < pedido.produtos.length; i++) { %>
							<% if (pedido.produtos[i]._id) { %>
							<div class="row produtospedido m-2 mx-0">
								<div class="col-md-5 col-12">
									<p class="truncate">
										<a data-toggle="tooltip" data-placement="top" title="Ver produto" style="text-decoration: underline !important;" class="px-1" target="_blank" href="/produto/<%= pedido.produtos[i].idOficial %>"><i class="fa fa-search"></i></a> <%= pedido.produtos[i]._id %>
									</p>
								</div>
								<div class="col-md-4 col-12">
									Preço: R$ <span class="precoVenda2"><%= pedido.produtos[i].precoVenda %></span>
								</div>
								<div class="col-md-3 col-12">
									Qtde: <%= pedido.produtos[i].quantidade %>
								</div>
							</div>
							<% } %>
						<% } %>
					</div>
					
				<div class="totals my-2">
					<p class="lead float-right">Valor total: <span class="valorTotal">R$ <%= pedido.totalVenda %></span></p>
				</div>
				</div>
		  </div>
		  <div class="tab-pane fade" id="pagamento" role="tabpanel" aria-labelledby="pagamento-tab">
		  		<div class="pagamento my-2 mt-4">
					<p class="lead text-center d-none">Pagamento</p>
					<div class="produtospedido">
						<div class="row m-2 mx-0">
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15">Forma de pagamento: <%= pedido.pagamento.nome %></p>	
							</div>
							<div class="produtospedido m-2 w-100">
								<p class="truncate mx-15">Status da transação: <%= pedido.pagamento.status %></p>
							</div>
						</div>
					</div>
				</div>
				<div class="totals my-2">
					<p class="lead float-right">Valor total: <span class="valorTotal">R$ <%= pedido.totalVenda %></span></p>
				</div>
		  </div>
		</div>
	</div>
			<div class="col-12 col-md-6">


			</div>
			<div class="col-12 col-md-6">


			</div>
		</div>
		<div class="my-2 text-center ml-auto mr-auto">
			<a href="/pedido" class="btn btn-success">Voltar</a>
			<form class="d-inline" action="/pedido/<%= pedido._id %>?_method=DELETE" method="post">
				<input class="btn btn-warning" type="submit" name="Deletar pedido" value="Deletar pedido" style="cursor: pointer;">
			</form>
		</div>
</div>


<% include ../partials/footer %>