<% include ../partials/header %>
<h2 class="text-center">Todos os pedidos</h2>
<p class="qtdeprods">Quantidade de pedidos: <%= pedidos.length %></p>

<div class="container">
	<hr>
	<div class="row">
		<% pedidos.forEach(pedido => { %>
		<div class="col-12">
			<div class="clientes-view row">
				<div class="col-12 col-sm-3 d-inline"><p class="truncate"><span class="attr">Cliente: </span> <span><%= pedido.cliente.nome %></span></p></div>
				<div class="col-12 col-sm-3 d-inline"><p class="truncate"><span class="attr">Data: </span> <span><%= pedido.dataPedido %></span></p></div>
				<div class="col-12 col-sm-3 d-inline"><p class="truncate"><span class="attr">Status: </span> <span><%= pedido.status.nome %></span></p></div>
				<div class="col-12 col-sm-3 d-inline text-center" style="">
					<a class="btn btn-warning" href="/pedido/<%= pedido._id %>">Ver pedido</a>
					<form class="d-inline" action="/pedido/<%= pedido._id %>?_method=DELETE" method="post">
						<input class="btn btn-warning" type="submit" name="Deletar pedido" value="Deletar pedido" style="cursor: pointer;">
					</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>


<% include ../partials/footer %>