<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="h1 text-center my-4 mt-5 mt-sm-3">Pedidos</h2>
		</div>
		<div class="col-12 col-md-3">
			Pedidos neste mês: 
			<% let pedidosDesteMes = 0; %>
			<% pedidos.forEach(pedido=>{ %>
				<% if (pedido.data.mes.nome === monthName){ %>
					<% pedidosDesteMes = pedidosDesteMes+1; %>
				<% } %>
			<% }); %>
			<%= pedidosDesteMes %>
		</div>
		<div class="col-12 col-md-3">
			Faturamento dos pedidos:
			<% var totalVendaPedidos = 0; %>
			<% pedidos.forEach(pedido=>{ %>
				<% if (Number(pedido.status._id) > 2) { %>
					<% if (pedido.data.mes.nome === monthName){ %>
						<% totalVendaPedidos += pedido.totalVenda; %>
					<% } %>
				<% } %>
			<% }); %>
			<%= 'R$ ' + totalVendaPedidos %>
			<div class="faturamentoxmes mt-4">
				<div id="arrayValores" class="d-none"><%= faturamento %></div>
				<canvas id="faturadoxmesCanvas"></canvas>
				<script type="text/javascript">
					var arrayMonthNames = [
						    "Janeiro", "Fevereiro", "Março",
						    "Abril", "Maio", "Junho",
						    "Julho", "Agosto", "Setembro",
						    "Outubro", "Novembro", "Dezembro"
						];
					var data2 = new Date;
					var esteMes = data2.getMonthName();
					var mesPassado = data2.getMonthName();
					var mesRetrasado = data2.getMonthName();
					var arrayData = document.getElementById("arrayValores").textContent.split(',');
					let faturadoxmesCanvas = document.getElementById("faturadoxmesCanvas");
					let faturadoxmesGraph = new Chart(faturadoxmesCanvas,{
						type: 'bar',
						data:{
							labels: [arrayMonthNames[data2.getMonth() -2], arrayMonthNames[data2.getMonth() -1], arrayMonthNames[data2.getMonth()]],
							datasets: [{
									label: "Faturamento - R$",
									data: arrayData,
									borderWidth: 5,
									borderColor: '#3a53c5',
									backgroundColor: '#3a86c5'
								}]
						},
						options: {
					        scales: {
					            yAxes: [{
					                ticks: {
					                    beginAtZero:true
					                }
					            }]
					        }
					    }
					});
				</script>
			</div>
		</div>
		<div class="col-12 col-md-3">
			Investido em produtos:
			<% var totalCustoPedidos = 0; %>
			<% pedidos.forEach(pedido=>{ %>
				<% if (Number(pedido.status._id) > 2) { %>
					<% if (pedido.data.mes.nome === monthName){ %>
						<% totalCustoPedidos += pedido.totalCusto; %>
					<% } %>
				<% } %>
			<% }); %>
			<%= 'R$ ' + totalCustoPedidos %>
		</div>
		<div class="col-12 col-md-3">
			Lucro básico:
			<% var totalCustoPedidos2 = 0; %>
			<% pedidos.forEach(pedido=>{ %>
				<% if (Number(pedido.status._id) > 2) { %>
					<% if (pedido.data.mes.nome === monthName){ %>
						<% totalCustoPedidos2 += pedido.totalCusto; %>
					<% } %>
				<% } %>
			<% }); %>
			<%= 'R$ ' + (totalVendaPedidos - totalCustoPedidos2) %>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2 class="h1 text-center my-4">Clientes</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			Clientes cadastrados: <%= clientes.length %>
		</div>
		<div class="col-3">
			Segmentos com mais clientes:
			<% segmentos.slice(0,3).forEach((segmento,i) => { %>
				<br /><%= i+1 + ' - ' %><%= segmento.nome + " | Qtde: " + segmento.clientesQtde %>
			<% }) %>
		</div>
		<div class="col-3">
			Clientes com pedidos parados:
			<% var counter = 0; %>
			<% clientes.forEach((cliente,i)=>{ %>
				<% var enough = false; %>
				<% cliente.pedidos.forEach(pedido => { %>
					<% if ((pedido.status._id === "1" || pedido.status._id === "2") && !enough) { %>
					<% counter = counter+1; %>
					<div class="my-1 p-1" style="border: 1px solid gray;border-radius: 5px;">
						<a href="/cliente/<%= cliente._id %>" data-toggle="tooltip" data-placement="left" title="" data-original-title="Ver cliente"><i class="fa fa-eye mx-1"></i><i class="fa fa-user"></i> <%= cliente.nome + " " + cliente.sobrenome %></a>
						<br /><a class="ml-3" href="/pedido/<%= pedido._id %>" data-toggle="tooltip" data-placement="left" title="" data-original-title="Ver pedido"><i class="fa fa-eye mx-1"></i><i class="fa fa-folder-open-o"></i> <%= "Pedido " + pedido.pedidoId2 %></a>
						<% enough = true; %>
					</div>
					<% }  %>
				<% }); %>
				
			<% }); %>
			<% if (counter === 0){ %>
				Nenhum pedido parado
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>