<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="h1 text-center my-4 mt-5 mt-sm-3">Pedidos</h2>
		</div>
		<div class="col-12 col-lg-6 mt-2 mt-md-4">
			<h3 class="display-3 text-center" style="font-size: 1.8em !important">Informações importantes</h3>
			<div class="row dashboard-pedido p-2 my-3 mt-4 mx-1">
				<div class="col-12 col-md-2 align-self-center justify-content-center text-center">
					<i class="fa fa-money dashboard-icon"></i>
				</div>
				<div class="col-12 col-md-6 align-self-center justify-content-center text-center">
					Pedidos neste mês: 
				</div>
				<div class="col-12 col-md-4 align-self-center justify-content-center text-center">
					<% let pedidosDesteMes = 0; %>
					<% pedidos.forEach(pedido=>{ %>
						<% if (pedido.data.mes.nome === monthName){ %>
							<% pedidosDesteMes = pedidosDesteMes+1; %>
						<% } %>
					<% }); %>
					<%= pedidosDesteMes %>
				</div>
			</div>
			<div class="row dashboard-pedido p-2 my-3 mt-4 mx-1">
				<div class="col-12 col-md-2 align-self-center justify-content-center text-center">
					<i class="fa fa-area-chart dashboard-icon"></i>
				</div>
				<div class="col-12 col-md-6 align-self-center justify-content-center text-center">
					Faturamento dos pedidos: 
				</div>
				<div class="col-12 col-md-4 align-self-center justify-content-center text-center">
					<% var totalVendaPedidos = 0; %>
					<% pedidos.forEach(pedido=>{ %>
						<% if (Number(pedido.status._id) > 2) { %>
							<% if (pedido.data.mes.nome === monthName){ %>
								<% totalVendaPedidos += pedido.totalVenda; %>
							<% } %>
						<% } %>
					<% }); %>
					<%= 'R$ ' + totalVendaPedidos %>
				</div>
			</div>
			<div class="row dashboard-pedido p-2 my-3 mt-4 mx-1">
				<div class="col-12 col-md-2 align-self-center justify-content-center text-center">
					<i class="fa fa-archive dashboard-icon"></i>
				</div>
				<div class="col-12 col-md-6 align-self-center justify-content-center text-center">
					Investido em produtos:
				 </div>
				<div class="col-12 col-md-4 align-self-center justify-content-center text-center">
					<% var totalCustoPedidos = 0; %>
					<% pedidos.forEach(pedido=>{ %>
						<% if (Number(pedido.status._id) > 2) { %>
							<% if (pedido.data.mes.nome === monthName){ %>
								<% totalCustoPedidos += pedido.totalCusto; %>
							<% } %>
						<% } %>
					<% }); %>
					<%= 'R$ ' + totalCustoPedidos %>
				</div>
			</div>
			<div class="row dashboard-pedido p-2 my-3 mt-4 mx-1">
				<div class="col-12 col-md-2 align-self-center justify-content-center text-center">
					<i class="fa fa-usd dashboard-icon"></i>
				</div>
				<div class="col-12 col-md-6 align-self-center justify-content-center text-center">
					Lucro básico:
				 </div>
				<div class="col-12 col-md-4 align-self-center justify-content-center text-center">
					<% var totalCustoPedidos2 = 0; %>
					<% pedidos.forEach(pedido=>{ %>
						<% if (Number(pedido.status._id) > 2) { %>
							<% if (pedido.data.mes.nome === monthName){ %>
								<% totalCustoPedidos2 += pedido.totalCusto; %>
							<% } %>
						<% } %>
					<% }); %>
					<%= 'R$ ' + (totalVendaPedidos - totalCustoPedidos2) %>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<div class="faturamentoxmes mt-4">
				<h3 class="display-3 text-center" style="font-size: 1.8em !important">Faturamento deste e dos últimos 2 meses</h3>
				<div id="arrayValores" class="d-none"><%= faturamento %></div>
				<canvas id="faturadoxmesCanvas"></canvas>
				<script type="text/javascript">
					var arrayMonthNames = [
						    "Janeiro", "Fevereiro", "Março",
						    "Abril", "Maio", "Junho",
						    "Julho", "Agosto", "Setembro",
						    "Outubro", "Novembro", "Dezembro"
						];
					var data2 = new Date;
					var esteMes = data2.getMonthName();
					var mesPassado = data2.getMonthName();
					var mesRetrasado = data2.getMonthName();
					var arrayData = document.getElementById("arrayValores").textContent.split(',');
					let faturadoxmesCanvas = document.getElementById("faturadoxmesCanvas");
					let faturadoxmesGraph = new Chart(faturadoxmesCanvas,{
						type: 'bar',
						data:{
							labels: [arrayMonthNames[data2.getMonth() -2], arrayMonthNames[data2.getMonth() -1], arrayMonthNames[data2.getMonth()]],
							datasets: [{
									label: "Faturamento - R$",
									data: arrayData,
									borderWidth: 5,
									borderColor: '#3a53c5',
									backgroundColor: '#3a86c5'
								}]
						},
						options: {
					        scales: {
					            yAxes: [{
					                ticks: {
					                    beginAtZero:true
					                }
					            }]
					        }
					    }
					});
				</script>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h2 class="h1 text-center my-4">Clientes</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
			Clientes cadastrados: <%= clientes.length %>
		</div>
		<div class="col-12 col-md-4">
			Segmentos com mais clientes:
			<% segmentos.slice(0,3).forEach((segmento,i) => { %>
				<br /><%= i+1 + ' - ' %><%= segmento.nome + " | Qtde: " + segmento.clientesQtde %>
			<% }) %>
		</div>
		<div class="col-12 col-md-4">
			Clientes com pedidos parados:
			<% var counter = 0; %>
			<% clientes.forEach((cliente,i)=>{ %>
				<% var enough = false; %>
				<% cliente.pedidos.forEach(pedido => { %>
					<% if ((pedido.status._id === "1" || pedido.status._id === "2") && !enough) { %>
					<% counter = counter+1; %>
					<div class="my-1 p-1" style="border: 1px solid gray;border-radius: 5px;">
						<a href="/cliente/<%= cliente._id %>" data-toggle="tooltip" data-placement="left" title="" data-original-title="Ver cliente"><i class="fa fa-eye mx-1"></i><i class="fa fa-user"></i> <%= cliente.nome + " " + cliente.sobrenome %></a>
						<br /><a class="ml-3" href="/pedido/<%= pedido._id %>" data-toggle="tooltip" data-placement="left" title="" data-original-title="Ver pedido"><i class="fa fa-eye mx-1"></i><i class="fa fa-folder-open-o"></i> <%= "Pedido " + pedido.pedidoId2 %></a>
						<% enough = true; %>
					</div>
					<% }  %>
				<% }); %>
				
			<% }); %>
			<% if (counter === 0){ %>
				Nenhum pedido parado
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/footer %>