<% include ../partials/header %>

<h2 class="text-center mt-5 mt-sm-3">Todos os segmentos</h2>
<p class="qtdeprods d-none d-md-block">Quantidade de segmentos cadastradas: <%= segmentos.length %></p>
<div class="container">
	<hr>
	<div class="row">
		<% segmentos.forEach(segmento => { %>
		<div class="col-12">
			<div class="clientes-view row align-items-center">
				<div class="col-12 col-sm-6 col-lg-4 d-inline"><p class="truncate"><span class="attr">Nome: </span> <%= segmento.nome %></p></div>
				<div class="col-12 col-sm-6 col-lg-3 d-inline"><p class="truncate"><span class="attr">Qtde. de clientes: </span> <%= segmento.clientesQtde %></p></div>
				<div class="col-12 col-sm-6 col-lg-2 d-inline"><p class="truncate"><span class="attr">ID: </span> <%= segmento.segmentoId %></p></div>
				<div class="col-12 col-sm-6 col-lg-3 d-inline  text-center text-sm-left text-lg-right">
					<a class="btn btn-warning" href="/segmento/<%= segmento._id %>" data-toggle="tooltip" data-placement="top" title="Ver clientes do segmento"><i class="fa fa-eye"  style="font-size: 1.7em"></i></a>
					<form class="d-inline m-0" action="/segmento/<%= segmento._id %>?_method=DELETE" method="post">
						<label class="m-0 btn btn-warning" data-toggle="tooltip" data-placement="top" title="Deletar segmento">
							<i class="fa fa-close" style="font-size: 1.7em"></i>
							<input class="btn btn-warning d-none" type="submit" name="Deletar segmento" value="Deletar segmento" style="cursor: pointer">	
						</label>
					</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>