<% include ../partials/header %>
<h2 class="text-center">Ver cliente individual</h2>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center my-3">Novos dados</h2>
			<div class="clientes-view row">
				<form action="/cliente/<%= cliente._id %>/edit?_method=PUT" method="POST" class="w-100">
					<input type="text" name="cliente[nome]" class="form-control d-inline w-25 m-1" placeholder="Nome" value="<%= cliente.nome %>" />	
					<input type="email" name="cliente[email]" class="form-control d-inline w-25 m-1" placeholder="Email" value="<%= cliente.email %>" />	
					<input type="submit" name="enviar" class="btn btn-warning d-inline m-1" value="Salvar" />	
				</form>
			</div>
			<h2 class="text-center my-3">Dados atuais</h2>
			<div class="clientes-view row">
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Nome: </span><span><%= cliente.nome %></span></div>
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Email: </span><span><%= cliente.email %></span></div>
			</div>
		</div>
	</div>
</div>

	


<% include ../partials/footer %>