<% include ../partials/header %>
<h2 class="text-center mt-5 mt-sm-3">Editando cliente <%= cliente.nome + ' ' + cliente.sobrenome %></h2>
<p class="qtdeprods d-none d-md-block">ID do cliente: <%= cliente.clienteId %></p>
<div class="container">
	<div class="row">
		<div class="col-12">
			<hr>
				<form action="/cliente/<%= cliente._id %>/edit?_method=PUT" method="POST" class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<h3 class="text-center mb-4 mt-2">Dados cadastrais</h3>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="email" name="cliente[email]" class="form-control" placeholder="Email" value="<%= cliente.email %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[cpfcnpj]" class="form-control" placeholder="CPF/CNPJ" value="<%= cliente.cpfcnpj %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[nome]" class="form-control" placeholder="Nome" value="<%= cliente.nome %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[sobrenome]" class="form-control" placeholder="Sobrenome" value="<%= cliente.sobrenome %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[celular]" class="form-control" placeholder="Celular" value="<%= cliente.celular %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[telefone]" class="form-control" placeholder="Telefone fixo" value="<%= cliente.telefone %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<select name="cliente[segmento]" class="form-control" placeholder="Selecione o grupo de cliente" value="<%= cliente.segmento %>" required>
								<option disabled selected class="d-none">Selecione o segmento</option>
								<% segmentos.forEach(segmento=>{ %>
									<option value="<%= segmento._id %>"><%= segmento.nome %></option>
								<% }); %>
							</select>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<h3 class="text-center mb-4 mt-2">Endereço</h3>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[cep]" class="form-control" placeholder="CEP" value="<%= cliente.cep %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[rua]" class="form-control" placeholder="Rua" value="<%= cliente.rua %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[numero]" class="form-control" placeholder="Número" value="<%= cliente.numero %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[complemento]" class="form-control" placeholder="Complemento" value="<%= cliente.complemento %>">	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[bairro]" class="form-control" placeholder="Bairro" value="<%= cliente.bairro %>">	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<input type="text" name="cliente[cidade]" class="form-control" placeholder="Cidade" value="<%= cliente.cidade %>" required>	
						</div>
						<div class="my-2 w-75 ml-auto mr-auto">
							<select name="cliente[estado]" class="form-control" placeholder="Estado" value="<%= cliente.estado %>" required>
								<option disabled selected class="d-none">Selecione o estado</option>
								<option value="AC">Acre</option>
								<option value="AL">Alagoas</option>
								<option value="AP">Amapá</option>
								<option value="AM">Amazonas</option>
								<option value="BA">Bahia</option>
								<option value="CE">Ceará</option>
								<option value="DF">Distrito Federal</option>
								<option value="ES">Espírito Santo</option>
								<option value="GO">Goiás</option>
								<option value="MA">Maranhão</option>
								<option value="MT">Mato Grosso</option>
								<option value="MS">Mato Grosso do Sul</option>
								<option value="MG">Minas Gerais</option>
								<option value="PA">Pará</option>
								<option value="PB">Paraíba</option>
								<option value="PR">Paraná</option>
								<option value="PE">Pernambuco</option>
								<option value="PI">Piauí</option>
								<option value="RJ">Rio de Janeiro</option>
								<option value="RN">Rio Grande do Norte</option>
								<option value="RS">Rio Grande do Sul</option>
								<option value="RO">Rondônia</option>
								<option value="RR">Roraima</option>
								<option value="SC">Santa Catarina</option>
								<option value="SP">São Paulo</option>
								<option value="SE">Sergipe</option>
								<option value="TO">Tocantins</option>
							</select>
						</div>
					</div>
					<div class="col-12 text-center my-2">
						<a href="/cliente/<%= cliente._id %>" class="btn btn-success d-inline" style="padding-top: 7px;padding-bottom: 8px;">Voltar</a>
						<input type="submit" name="enviar" class="btn btn-warning d-inline" value="Salvar" />		
					</div>
				</form>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="clientes-view row py-4">
							<h3 class="text-center mb-4 col-12">Dados atuais</h3>
							<div class="col-12 col-sm-6">
								<div class="col-12"><span class="attr2 col-12">Email: <%= cliente.email %></span></div>
								<div class="col-12"><span class="attr2 col-12">CPF/CNPJ: <%= cliente.cpfcnpj %></span></div>
								<div class="col-12"><span class="attr2 col-12">Nome: <%= cliente.nome %></span></div>
								<div class="col-12"><span class="attr2 col-12">Sobrenome: <%= cliente.sobrenome %></span></div>
								<div class="col-12"><span class="attr2 col-12">Celular: <%= cliente.celular %></span></div>
								<div class="col-12"><span class="attr2 col-12">Telefone fixo: <%= cliente.telefone %></span></div>
								<div class="col-12">
									<span class="attr2 col-12">
									Segmento: 
									<% cliente.segmento.forEach(segmento => { %>
									 <span class="attr"><%= segmento.nome %></span>
									<% }); %>
									</span>
								</div>
							</div>
							<div class="col-12 col-sm-6">
								<div class="col-12"><span class="attr2 col-12">CEP: <%= cliente.cep %></span></div>
								<div class="col-12"><span class="attr2 col-12">Rua: <%= cliente.rua %></span></div>
								<div class="col-12"><span class="attr2 col-12">Número: <%= cliente.numero %></span></div>
								<div class="col-12"><span class="attr2 col-12">Complemento: <%= cliente.complemento %></span></div>
								<div class="col-12"><span class="attr2 col-12">Bairro: <%= cliente.bairro %></span></div>
								<div class="row col-12">
									<div class="col-6"><span class="attr2 w-100">Cidade: <%= cliente.cidade %></span></div>
									<div class="col-6"><span class="attr2 w-100">Estado: <%= cliente.estado %></span></div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	


<% include ../partials/footer %>