<% include ../partials/header %>
<h2 class="text-center">Todos os clientes</h2>

<div class="container">
	<hr>
	<div class="row">
		<% clientes.forEach(cliente => { %>
		<div class="col-12">
			<div class="clientes-view row">
				<div class="col-12 col-sm-3 d-inline"><span class="attr">Nome: </span><span><%= cliente.nome %></span></div>
				<div class="col-12 col-sm-4 d-inline"><span class="attr">Email: </span><span><%= cliente.email %></span></div>
				<div class="col-12 col-sm-5 d-inline text-center">
					<a class="btn btn-warning" href="/cliente/<%= cliente._id %>">Ver cliente</a>
					<a href="/cliente/<%= cliente._id %>/edit" class="btn btn-warning">Editar cliente</a>
					<form class="d-inline" action="/cliente/<%= cliente._id %>?_method=DELETE" method="post">
						<input class="btn btn-warning" type="submit" name="Deletar cliente" value="Deletar cliente" style="cursor: pointer">
					</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

	


<% include ../partials/footer %>