<% include ../partials/header %>
<h2 class="text-center mt-5 mt-sm-3">Todos os clientes</h2>
<p class="qtdeprods d-none d-md-block">Quantidade de clientes cadastrados: <%= clientes.length %></p>
<div class="container">
	<hr>
	<div class="row">
		<% clientes.forEach(cliente => { %>
		<div class="col-12">
			<div class="clientes-view row align-items-center">
				<div class="col-12 col-sm-5 d-inline"><p class="truncate"><span class="attr">Nome: </span> <%= cliente.nome %> <%= cliente.sobrenome %></p></div>
				<div class="col-12 col-sm-4 d-inline"><p class="truncate"><span class="attr">Email: </span> <%= cliente.email %></p></div>
				<div class="col-12 col-sm-3 d-inline text-center text-md-right">
					<a class="btn btn-warning" href="/cliente/<%= cliente._id %>" data-toggle="tooltip" data-placement="top" title="Ver cliente"><i class="fa fa-eye"  style="font-size: 1.7em"></i></a>
					<a href="/cliente/<%= cliente._id %>/edit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar cliente"><i class="fa fa-pencil-square-o"  style="font-size: 1.7em;top: 1px;position: relative;"></i></a>
					<form class="d-inline m-0" action="/cliente/<%= cliente._id %>?_method=DELETE" method="post">
						<label class="m-0 btn btn-warning" data-toggle="tooltip" data-placement="top" title="Deletar cliente">
							<i class="fa fa-close" style="font-size: 1.7em"></i>
							<input class="btn btn-warning d-none" type="submit" name="Deletar cliente" value="Deletar cliente" style="cursor: pointer">	
						</label>
					</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>
<% include ../partials/footer %>