<% include ../partials/header %>
<h2 class="text-center mt-5 mt-sm-3">Todos os produtos</h2>
<p class="qtdeprods d-none d-md-block">Quantidade de produtos cadastrados: <%= produtos.length %></p>
<div class="container">
	<hr>
	<div class="row">
		<% produtos.forEach(produto => { %>
		<div class="col-12">
			<div class="clientes-view row align-items-center">
				<div class="col-12 col-sm-6 col-lg-4 d-inline"><p class="truncate"><span class="attr">Nome: </span> <%= produto.nomeProduto %></p></div>
				<div class="col-12 col-sm-6 col-lg-3 d-inline"><p class="truncate"><span class="attr">SKU: </span> <%= produto.sku %></p></div>
				<div class="col-12 col-sm-6 col-lg-2 d-inline"><p class="truncate"><span class="attr">Em estoque: </span> <%= produto.quantidade %></p></div>
				<div class="col-12 col-sm-6 col-lg-3 d-inline text-center text-sm-left text-lg-right">
					<a class="btn btn-warning" href="/produto/<%= produto._id %>" data-toggle="tooltip" data-placement="top" title="Ver produto"><i class="fa fa-eye"  style="font-size: 1.7em"></i></a>
					<a href="/produto/<%= produto._id %>/edit" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Editar produto"><i class="fa fa-pencil-square-o"  style="font-size: 1.7em;top: 1px;position: relative;"></i></a>
					<form class="d-inline m-0" action="/produto/<%= produto._id %>?_method=DELETE" method="post">
						<label class="m-0 btn btn-warning" data-toggle="tooltip" data-placement="top" title="Deletar produto">
							<i class="fa fa-close" style="font-size: 1.7em"></i>
							<input class="btn btn-warning d-none" type="submit" name="Deletar produto" value="Deletar produto" style="cursor: pointer">	
						</label>
					</form>
				</div>
			</div>
		</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>