<% include ../partials/header %>
<h2 class="text-center">Editar produto <%= produto.nomeProduto %></h2>
<p class="qtdeprods">ID do produto: <%= produto._id %></p>
<div class="container">
	<hr>
	<div class="row">
		<div class="col mt-4 container">
			<form class="" action="/produto/<%= produto._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[nomeProduto]" placeholder="Nome do produto" value="<%= produto.nomeProduto %>" required />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[sku]" placeholder="SKU" value="<%= produto.sku %>" required />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[precoVenda]" placeholder="Preço de venda" value="<%= produto.precoVenda %>" required />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[precoCusto]" placeholder="Preço de custo" value="<%= produto.precoCusto %>" />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[quantidade]" placeholder="Quantidade disponível" value="<%= produto.quantidade %>" required />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="text" name="produto[peso]" placeholder="Peso estimado" value="<%= produto.peso %>" />
					</div>
					<div class="col-6">
						<input class="form-control my-2" type="file" name="img" placeholder="URL de imagem do produto" />
					</div>
					<div class="col-6">
						<select name="produto[categoria]" class="form-control my-2" value="<%= produto.categoria %>">
							<option>Selecione a categoria</option>
							<option>Categoria 1</option>
							<option>Categoria 2</option>
							<option>Categoria 3</option>
						</select>
					</div>
				</div>
				<div class="text-center">
					<a href="/produto/<%= produto._id %>" class="btn btn-success mr-3">Voltar</a>
					<input class="btn btn-warning my-3" type="submit" name="enviar" value="Enviar">	
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("input[name='produto[peso]']").mask("99.999");
	var precoVendaInput = document.querySelector("input[name='produto[precoVenda]']");
	var precoCustoInput = document.querySelector("input[name='produto[precoCusto]']");

	precoVendaInput.addEventListener('keyup',()=>{
		precoVendaInput.value = precoVendaInput.value.replace(".","");
		precoVendaInput.value = numberWithCommas(precoVendaInput.value);
	});
	precoCustoInput.addEventListener('keyup',()=>{
		precoCustoInput.value = precoCustoInput.value.replace(".","");
		precoCustoInput.value = numberWithCommas(precoCustoInput.value);
	});
	
	var numberWithCommas = (x) => {
	  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
	}
</script>
<% include ../partials/footer %>