<% include ../partials/header %>
<h2 class="text-center mt-5 mt-sm-3">Editar produto <%= produto.nomeProduto %></h2>
<p class="qtdeprods d-none d-md-block">ID do produto: <%= produto._id %></p>
<div class="container">
	<hr>
	<div class="row">
		<div class="col mt-4 container">
			<form class="" action="/produto/<%= produto._id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-6 col-12">
						<h3 class="text-center mb-4">Dados do produto</h3>
						<div class="input-group my-2">
						  <span class="input-group-addon">Nome do produto: </span>
						  <input class="form-control" type="text" name="produto[nomeProduto]" placeholder="Nome do produto" value="<%= produto.nomeProduto %>" required />
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">SKU: </span>
						  <input class="form-control" type="text" name="produto[sku]" placeholder="SKU" value="<%= produto.sku %>" required />
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">Preço de venda: </span>
						  <span class="input-group-addon">R$</span>
						  <input class="form-control" type="text" name="produto[precoVenda]" placeholder="Preço de venda" value="<%= produto.precoVenda %>" required />
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">Preço de custo: </span>
						  <span class="input-group-addon">R$</span>
						  <input class="form-control" type="text" name="produto[precoCusto]" placeholder="Preço de custo" value="<%= produto.precoCusto %>" />
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">Em estoque: </span>
						  <input class="form-control" type="number" name="produto[quantidade]" placeholder="Quantidade" value="<%= produto.quantidade %>" required />
						  <span class="input-group-addon">un<span>
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">Peso estimado: </span>
						  <input class="form-control" type="text" name="produto[peso]" placeholder="Peso estimado" value="<%= produto.peso %>" />
						  <span class="input-group-addon">kg</span>
						</div>
						<div class="input-group my-2">
						  <span class="input-group-addon">Imagem do produto: </span>
						  <input class="form-control" type="file" name="img" placeholder="Imagem do produto" />
						</div>
					</div>
					<div class="col-md-6 col-12">
					
						<h3 class="text-center mb-4">Categorias</h3>
						<% categorias.forEach(categoria => { %>
						    <div class="input-group my-2">
						      <span class="input-group-addon">
						        <input type="checkbox" name="produto[categorias]" value="<%= categoria._id %>">
						      </span>
						      <span class="input-group-addon" style="background: white"><%= categoria.nome %></span>
						    </div>
						<% }) %>
					
				</div>
				</div>
				<div class="text-center">
					<a href="/produto/<%= produto._id %>" class="btn btn-success mr-3">Voltar</a>
					<input class="btn btn-warning my-3" type="submit" name="enviar" value="Enviar">	
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("input[name='produto[peso]']").mask("99.999");
	var precoVendaInput = document.querySelector("input[name='produto[precoVenda]']");
	var precoCustoInput = document.querySelector("input[name='produto[precoCusto]']");

	precoVendaInput.addEventListener('keyup',()=>{
		precoVendaInput.value = precoVendaInput.value.replace(".","");
		precoVendaInput.value = numberWithCommas(precoVendaInput.value);
	});
	precoCustoInput.addEventListener('keyup',()=>{
		precoCustoInput.value = precoCustoInput.value.replace(".","");
		precoCustoInput.value = numberWithCommas(precoCustoInput.value);
	});
	
	var numberWithCommas = (x) => {
	  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
	}
</script>
<% include ../partials/footer %>